.DS_Store
evtsel/.DS_Store
results/.DS_Store
thesis.*.log
thesis.aux
thesis.aux.make
thesis.auxbbl.make
thesis.auxtarget.make
thesis.bbl
thesis.blg
thesis.d
thesis.fls
thesis.idx
thesis.lof
thesis.lof.make
thesis.log
thesis.lot
thesis.lot.make
thesis.out
thesis.out.make
thesis.rwk.pdf
thesis.rwk.synctex.gz
thesis.synctex.gz
thesis.toc
thesis.toc.make
